/* Base CSS */
body {
    background-color: rgb(0, 0, 0);
    color: #f1f1f1;
    font-family: "Afacad Flux", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head {
    height: 10vh;
    width: 100vw;
    background-color: #ffffff0e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#mainhead {
    display: flex;
    margin: 20px 0 10px 0;
}

img {
    margin-right: 20px;
}

.heading {
    font-size: 50px;
}

#icon {
    height: 100px;
    width: 100px;
}

p {
    font-size: 20px;
}

#boxing {
    text-shadow: 0px 0px 15px white;
    color: #53f9d2;
}

a {
    margin: 20px;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

a:hover {
    text-shadow: 0px 0px 15px white;
    color: #53f9d2;
}

::selection {
    color: #1e0322;
    background: #c5f3e8;
}

#current {
    font-weight: bold;
}

.guide {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    font-size: 20px;
}

#contents {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 80px 0px;
    background-color: #0e0e0e;
    padding: 20px;
    border-radius: 20px;
}

.content, .contentlast {
    margin: 10px 0;
    font-size: 15px;
}

#contentshead {
    font-size: 30px;
}

.ref, .inlinelink {
    text-decoration: underline;
    color: #00ffc3;
    margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}

#speedcurve {
    border-radius: 20px;
    width: 60vw;
}

video {
    border-radius: 20px;
    width: 60vw;
}

.profile {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

iframe {
    width: 100vw;
    height: 100vh;
    border: none;
}

a[class=content]:hover, a[class=contentlast]:hover {
    text-decoration: underline;
}

a[class=content], a[class=contentlast] {
    transition: ease-in-out 0.2s;
}

.mainguide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

.main2 {
    display: block;
    margin-left: 7px;
    margin-right: auto;
}

#dc {
    margin: 0;
    text-decoration: underline;
}

.foot {
    text-align: right;
    margin: 40px;
}

.container {
    margin-left: 4px;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

.debug {
    background-color: red;
}

.debugnest {
    background-color: greenyellow;
}

.spotifyembed {
    border-radius: 12px;
    width: 413px;
    height: 413px;
    margin-top: 40px;
}

.callout {
    line-height: 5px;
    text-align: center;
}

/* Larger screens CSS */
@media screen and (min-width: 1115px) {
    .heading {
        margin-top: 50px;
        letter-spacing: 5px;
    }

    .guidebody {
        width: 40vw;
    }

    #contents {
        padding: 40px 80px;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 15vh;
        left: 8vw;
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: space-around;
    }

    .guide {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #speedcurve {
        width: 680px;
    }

    video {
        width: 38vw;
    }
}


@media screen and (max-width: 507px) {
    .guide {
        margin: 0;
    }
}